.heade{
    border: outset gray 5px;
    background-color: rgb(20, 11, 95);
    padding-bottom: 30px;
    color: white;
}
.body{
    background-color: rgb(7, 14, 79);
    padding-bottom: 103px;
}
.login-form{
    border: inset gray 10px;
    margin: 60px 450px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}
.back-to-header{
    margin-top: 20px;
}
select{
    margin-top: 20px;
    padding: 5px 10px;
    margin-left: 200px;
    border: outset gray 10px;
}
h5{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
}
.inr-input{
    border: inset gray 10px;
}
p{
    color: red;
    font-weight: 600;
}
.submitbt{
   padding: 5px 75px;
   margin-top: 30px;
}
label{
    color: rgb(114, 10, 12);
    font-weight: 600;
    margin-top: 30px;
}
span{
    color: green;
    font-weight: 700;
    margin-top: 30px;
}


