.header{
    border: outset #808080 5px;
    padding-bottom: 10px;
    background-color: rgb(14, 7, 68);
}
.backtoheader{
    margin-top: 15px;
}
.sidenav{
    border: solid black 2px;  

    background-color: rgb(5, 27, 27);
    color: white;
}
.mainpage{
    border: solid black 2px; 
   
    background-color: rgb(25, 174, 174);
}
.rightnav{
    border: solid black 2px;  

    background-color: rgb(9, 29, 101);
}
.component2{
    margin-top: 30px;
}
table{
    border: solid black 2px;
}
th,td{
    border: solid black 2px;
}