.header{
    border: outset gray 5px;
    padding-bottom: 20px;
    background-color: rgb(14, 7, 68);
}
.body{
    background-color: rgb(20, 11, 95);
    padding-bottom: 50px;
}
img{
    margin-top: 50px;
    margin-left: 450px;
}
.backtoregister{
    margin-top: 30px;
}
.gotomainpage{
    margin-top: 30px;
    margin-left: 300px;
}
.gotoleftnav{
    margin-top: 30px;
    margin-left: 300px;
}