.header{
    border: outset gray 5px;
    padding-bottom: 10px;
    background-color: rgb(7, 25, 25);
}
.login-button{
    margin-top: 20px;
}
.body{
    background-color: rgb(7, 25, 25);
    padding-bottom: 150px;
}
.login-form{
    border: inset gray 10px;
    margin: 20px 450px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

input{
    margin-top: 20px;
}
button{
    margin-top: 30px;
}
.claer{
    margin-left: 20px;
}
p{
    color: red;
    margin-top: 20px;
    font-weight: 600;
}

h5{
    color: yellow;
    text-align: center;
}